---
name: test

on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-slim
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: '1.25'

      - name: Lint
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: make lint

      - name: Test
        run: make test

      - name: Publish coverage to coveralls.io
        uses: shogo82148/actions-goveralls@e6875f831db61e6abffbd8df91a2eb6cd24b46c9 # v1
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        with:
          path-to-profile: coverage.out

      - name: Build
        run: make build
